@model Contoso.Models.Entities.Student
@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Estudiante</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form method="post" action="create"> Otra forma*@
        <form asp-action="Edit">
            @*usando tag helper validationsumary muestra el resumen muestra en ua lista*@
            <div asp-validation-summary="All" class="text-danger">
            </div>
            @*Elemento Oculto*@
            @*<input type="hidden" value="@Model.Id"/>*@
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                @*Vinculacion del nombre de entidad con elemento html*@
                <label asp-for="Nombres" class="control-label">
                </label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                @*Vinculacion del nombre de entidad con elemento html*@
                <label asp-for="Apellidos" class="control-label">
                </label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                @*Vinculacion del nombre de entidad con elemento html*@
                <label asp-for="Edad" class="control-label">
                </label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    @*Por si nos arrepentimos*@
    <a asp-action="Index">Cancelar</a>
</div>
